body {
	padding-top: 60px;
	color: #110101;

	}
	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background-color: rgb(9, 2, 63);
	color: rgb(12, 245, 43);
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #360303;
	padding: 30px 0;
}

.ticker-container .ticker-tape {
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .ticker-container .ticker-tape:before, .ticker-container .ticker-tape:after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 15%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .ticker-container .ticker-tape:after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
   
  .ticker-container .ticker-tape:before {
    left: 0;
    top: 0;
  }
  .ticker-container .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .ticker-container div.slide {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* Animation */
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }